body {
    margin: auto 0;
    background: url(./images/bgImage.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Custom font */

@font-face {
    font-family: treasuremap;
    src: url('./utility/Treasuremap-nRxz0.ttf');
}


.main-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar .nav-items {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15%;
}

.nav-btn-container .nav-btn {
    border-radius: 20px;
    border-style: solid;
    border-color: #35515D;
    background-color: #113446;
    color: white;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
}

.connected-btn {
    padding: 8px 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}

.connected-btn img {
    margin-right: 0.5em;
}

.exit-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    padding: 8px 18px 8px 25px;
}

.exit-btn img {
    margin-right: 0.2em;
}

/* Headings */

.heading1 {
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 25px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin-top: 70px;
}

.title1 {
    color: #FFF;
    font-family: treasuremap;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 15px;
}

.card-container {
    margin-top: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-container .card {
    height: 350px;
    width: 280px;
    background-image: linear-gradient(138deg, #3B5667 0%, #2C3D48 100%);
    margin-right: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image-container {
    width: 137px;
    height: 137px;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .card-container .card img {
    border: 4px solid rgba(255, 255, 255, 0.5);;
    border-radius: 50%;
    padding: 14%;
} */

.card:last-child img {
    border: none;
    border-radius: 0;
    padding: 0;
}

.card-container .card .card-title {
    margin-top: 70px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}

.card:last-child {
    margin-right: 0;
    background-image: linear-gradient(138deg, #D81B24 0%, #1A3751 100%);
}

.card-container .card::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    /* Adjust the width of the pattern */
    height: 100%;
    background-image: url('./images/card-bg.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    z-index: 1;
}